*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

#pdf-container {
    width: 30rem;
    height: 700px; /* Altura do contêiner - ajuste conforme necessário */
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical */
}
.page-canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
}