*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

#pdf-container {
    width: 39.2rem;
    height: 700px; /* Altura do contêiner - ajuste conforme necessário */
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical */
}
.page-canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
}

::-webkit-scrollbar {
  color: #FF314C;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #FF314C;
  height: 30px;
}
